*{
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
@media screen and (min-width: 451px){
  .app{
    width: 90%;
    height: 500px;
    margin: 20px 5%;
    overflow: scroll;
    overflow-x: hidden;
}
}


::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

